
@{
    ViewBag.Title = "SendEmailToUser";
}

<center>
    <div style="margin-top: 30px; margin-left: 400px; margin-right:400px;" class="alert alert-success" role="alert">
        <h4 class="alert-heading"><strong>Success!!</strong></h4>
        <p><strong>You successfully submitted post.</strong></p>
    </div>

    <a type="button" class="btn btn-success" href="~/Home/Index">Back</a>
</center>