<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">




	<!-- fontawesome icon -->
	<link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">
	<!-- vendor css -->
	<link rel="stylesheet" href="~/assets/css/style.css">

	<script src="~/assets/js/pcoded.min.js"></script>

	<script src="~/assets/js/vendor-all.min.js"></script>
	<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>






</head>
<body>
	<div>
		@RenderBody()
	</div>

	@RenderSection("scripts", required: false)
</body>
</html>
